html {
    box-sizing: border-box
}

*,
*::before,
*::after {
    box-sizing: inherit
}


:root {
    --brand-color: #2196F3;
    --main-color: #212121;
    --wite-color: #FFFFFF;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

}

body {
    color: var(--main-color);
    font-family: "Roboto";
    margin: 0;
}